# [mysql]
# default-character-set=utf8mb4
[mysqld]
server-id=888
#打开MySQL中继日志
relay-log-index=slave-relay-bin.index
relay-log=slave-relay-bin
#打开从服务二进制日志
log-bin=mysql-bin
#使得更新的数据写进二进制日志中
log-slave-updates=1
port = 3306
# 设置mysql的安装目录 basedir=/usr/local/mysql
# 设置mysql数据库的数据的存放目录 datadir=/usr/local/mysql/data
max_connections=100
max_connect_errors=10
character-set-server=utf8mb4
default-storage-engine=INNODB
default_authentication_plugin=mysql_native_password
default-time-zone='+8:00'
lower_case_table_names=1
max_allowed_packet=16M
# [client]
# port=3306
# default-character-set=utf8mb4
